.like {
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 10px;
  min-width: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: $dark-25;
  padding: 4px 10px 4px 20px;
  text-align: center;
  background-image: url('./blocks/like/nonliked.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 5px 3px;



  &--active,
  &:hover {
    border-color: $purple;
    color: $purple;
    background-image: url('./blocks/like/liked.svg');
  }
}