mixin socials()
  ul.socials
    li
      a.socials__link.socials__link--twitter(href="#" target="_blank" title="twitter")
    li
      a.socials__link.socials__link--fb(href="#" target="_blank" title="facebook")
    li
      a.socials__link.socials__link--inst(href="#" target="_blank" title="instagram")   