.dropdown {
  &__input {
    background-color: white;
    border: 1px solid $dark-50;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    height: 44px;
    width: 100%;
    padding-left: 15px;
  }

  &__content {
    border: 1px solid $dark-50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 7px 7px 13px 13px;
    @include h3;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__reset--hidden {
    visibility: hidden;
  }

  &--closed .dropdown__content {
    display: none;
  }

  &--closed .dropdown__input {
    border-color: $dark-25;
    border-radius: 4px 4px 4px 4px;
  }

  &__calc {
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__counter {
    width: 30px;
    height: 30px;
    border: 1px solid $dark-50;
    box-sizing: border-box;
    border-radius: 50%;
    color: $dark-50;

    &--empty {
      border-color: $dark-25;
      color: $dark-25;
    }
  }
}