mixin dropdown(styles, placeholder, triggerId)
  section(class="dropdown "+styles)
    .dropdown__input(id=""+triggerId)= placeholder 
    .dropdown__content    
      block

mixin dropdown__item(name, count, minusmod)
  li.dropdown__item 
    p= name
    .dropdown__calc
      button(class="dropdown__counter dropdown__counter--minus "+minusmod) -
      p.dropdown__count= count
      button.dropdown__counter.dropdown__counter--plus +