.comment {
  display: flex;

  &__photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
  }
}