mixin comments(href, name, src, ago, likes, likemodifier, styles)
  section(class="comment "+styles)
    .comment__column
      a(href=""+href, title=""+name)
        img(src=""+src, alt=""+name).comment__photo
      +like(likes, likemodifier)
    .comment__column
      a(href=""+href, title=""+name).comment__name= name
      p= ago
      block
