include ./../searchroom/_searchroom.pug

main.landing
  +searchroom("ДД.ММ.ГГГГ", "ДД.ММ.ГГГГ", "Сколько гостей", "landing__searchroom")
  p.landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения