mixin rate(styles, value)
  ul(class="rate "+styles, data-total-value="" +value)
    li.rate__item(data-item-value="5") 
    li.rate__item(data-item-value="4") 
    li.rate__item(data-item-value="3") 
    li.rate__item(data-item-value="2") 
    li.rate__item(data-item-value="1") 