extends ./templates/template.pug
include ./blocks/uiKit/_uiKit.pug



block title 
  title Cards

block content
  +uiKit("ui-kit--dark")
    include ./blocks/cards/_cards.pug
block scripts
  script(src="./cards.js")