extends ./templates/template.pug
include ./blocks/uiKit/_uiKit.pug
include ./blocks/piechart/_piechart.pug
include ./blocks/logo/_logo.pug


block title 
  title Colors&Types

block content
  +uiKit("")
    include ./blocks/colorsTypes/_colorsTypes.pug
    +pie("", "", "260")
    +logo
block scripts
  script(src="./colors.js")