include pug/mixins.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Colors and types
    body
        main.ui-kit
            section.colors-types
                ul.colors
                    +color("Dark Shade 100%", "#1F2041", "dark100")
                    +color("Dark Shade 75%", "#1F2041", "dark75")
                    +color("Dark Shade 50%", "#1F2041", "dark50")
                    +color("Dark Shade 25%", "#1F2041", "dark25")
                    +color("Dark Shade 5%", "#1F2041", "dark5")
                    +color("Purple", "#BC9CFF", "purple")
                    +color("Green", "#6FCF97", "green")
                ul.types
                    +type("h1", "H1")
                        h1 This one is the sub-section or widget title
                    +type("h2", "H2")
                        h2 Next one is the item title inside widgets
                    +type("h3", "H3")
                        h3 This is a label or CTA text
                    +type("body", "Body")
                        p This is the body text which is used for most of the design, like paragraphs, lists, etc.

        script(src='./main.js')