.signup {
  @include card-border;
  max-width: 380px;

  &__header {
    margin-bottom: 20px;
  }

  &__name,
  &__surname,
  &__email,
  &__password {
    margin-bottom: 10px;
  }

  &__subheader {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__submit {
    margin-top: 24px;
    margin-bottom: 30px;
  }
}