$dark-100: #1F2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-10: rgba(31, 32, 65, 0.1);
$dark-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$black-20: rgba(0, 0, 0, 0.2);

$bg-dark: #E5E5E5;

$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-light: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);