include ./../logo/_logo.pug
include ./../btn/_btn.pug


mixin header(links, logged, styles, userlink, username)
  header(class="header "+styles)
    .header__wrapper
      +logo("href", "title", "styles")
      nav.header__nav
        - for (let i=0; i<links.length; i++)
          a(class="header__link "+links[i].styles, href=""+links[i].href, title=""+links[i].value)= links[i].value
        if logged === "true"
          +btn("войти", "btn-empty btn--login")
          +btn("зарегистрироваться", "btn-fill btn--signup")
        else
          a.header__user(href=""+userlink, title=""+username)= username